.slider-container {
  position: relative;
  width: 100%;
  height: 500px; 
  overflow: hidden;
  margin-top: -1px;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease-in-out; 
  opacity: 0;
  display: flex; 
  align-items: center; 
  justify-content: flex-start; 
  padding-left: 10%;
  box-sizing: border-box; 
}

.slide.active {
  opacity: 01;
  z-index: 1;
}
.slide-content {
  color: rgb(8, 6, 6);
  text-align: left;
  max-width: 500px;
  z-index: 2; 
  background: rgba(0, 0, 0, 0.408); 
  border-radius: 8px;
  padding: 20px;
  
}

.slide-content .slide-tagline {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #FFA500; 
}

.slide-content h2 {
  font-size: 3.5rem;
  margin: 0 0 15px 0;
  line-height: 1.1;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Georgia', serif; 
  -webkit-text-stroke: 1.5px black; 
  color: white;
}

.slide-content p {
  font-size: 1.1rem;
  margin-bottom: 25px;
  line-height: 1.5;
  color: #f0f0f0;
}

/* Navigation Dots */
.slider-dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; 
  display: flex;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: rgba(132, 11, 102, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.dot.active {
  background-color: rgb(195, 39, 179);
  transform: scale(1.2);
}

.shop-name h1 {
  font-family: 'Brush Script MT'; 
  font-size: 2.5rem; 
  color: #FF69B4; 
  margin: 0;
  padding: 0;
}

